{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div class="chat-app">
        <!-- Список друзей -->
        <div class="friends-list">
            <h3>Friends</h3>
            <ul id="friends">
                {% for item in chats %}
                    {% if item.user1 == user %}
                        <a href="{% url 'chat-url' item.id %}"><li class="active">{{ item.user2.first_name }}</li></a>
                    {% else %}
                        <a href="{% url 'chat-url' item.id %}"><li class="active">{{ item.user1.first_name }}</li></a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <!-- Окно чата -->
        <div class="chat-container">
            <div class="chat-header">
                <h2 id="chat-title">
                    {% if chat.user1 == user %}
                        {{ chat.user2.first_name }}
                    {% else %}
                        {{ chat.user1.first_name }}
                    {% endif %}
                </h2>
            </div>
            <div class="chat-box" id="chat-box">
                {% for item in chat_messages %}
                <!-- Примеры сообщений -->
                    <div class="message {% if item.sender == user %} sent {% else %} received {% endif %}">
                        <span class="message-text">{{ item.text }}</span>
                        <span class="message-time">{{ item.created_at|date:"H:i" }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="message-input">
                <form action="{% url 'send-message' companion.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" id="message-input" name="message" placeholder="Type a message..." autocomplete="off">
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
