{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends List</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body class="dark-mode">
    {% include 'header.html' %}

    <div class="main-container">
        <div class="div-header">
            <h1>My Friends</h1>
            <form action="?search_friend={{ request.GET.query }}" method="GET">
                <input name="search" type="text" id="search-input" value="{{ input_query }}" placeholder="Search friends..." onkeyup="searchFriends()">
                <button id="add-friend-btn" type="submit">Add Friend</button>
            </form>
        </div>

        <div class="friends-list">
            <ul id="friends">
                {% if search_users %}
                    {% for item in search_users %}
                        <li class="friend">
                        {% if item.avatar %}
                            <img src="{{ item.avatar.url }}" alt="Profile Picture" width="20%" height="100px" style="object-fit: contain;" class="profile-pici">
                         {% else %}
                               <img src="https://via.placeholder.com/150" alt="Profile Picture" width="20%" height="100px" style="object-fit: contain;" class="profile-pici">
                        {% endif %}
                            <span>{{ item.first_name }}</span>
                            <div class="status online"></div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>


    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
