{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div class="profile-container">
        <div class="profile-card">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="Profile Picture" class="profile-pic">
            {% else %}
                 <img src="https://via.placeholder.com/150" alt="Profile Picture" class="profile-pic">
            {% endif %}
            <h2 class="username">{{ user.first_name }}</h2>
            <p class="bio">{% if user.bio %}{{ user.bio }}{% endif %}</p>
            <a href="{% url 'edit-profile-url' %}"><button class="edit-profile-btn">Edit Profile</button></a>
        </div>

        <div class="profile-details">
            <h3>Details</h3>
            <p><strong>Телефон номер:</strong>{{ user.phone_number }}</p>
            <p><strong>День рождение:</strong>{% if user.birth_day %}{{ user.birth_day }}{% else %} Не указан {% endif %}</p>
        </div>
    </div>
</body>
</html>
