* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2d3436; /* Темный фон */
    color: #ecf0f1; /* Светлый текст */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Изменим на flex-start, чтобы контейнер был немного ниже */
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
    padding-top: 20px; /* Добавляем немного отступа сверху */
}

.main-container {
    width: 80%;
    max-width: 600px;
    background-color: #34495e; /* Темный фон для контейнера */
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: background-color 0.3s;
    margin-top: 20px; /* Добавлен отступ сверху для контейнера */
}

.div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 1.8rem;
    color: #ecf0f1;
}

#search-input {
    width: 250px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #34495e;
    outline: none;
    transition: border-color 0.3s;
}

#search-input:focus {
    border-color: #74b9ff;
}

#add-friend-btn {
    padding: 10px 20px;
    background-color: #2980b9; /* Темно-синий фон */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-friend-btn:hover {
    background-color: #3498db;
}

.friends-list {
    padding: 10px;
    height 200px

}

.friends-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.friend {
    padding: 12px;
    border-radius: 6px;
    background-color: #566573; /* Тёмный фон для каждого друга */
    color: #ecf0f1;
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s;
}

.friend:hover {
    background-color: #3498db; /* Цвет при наведении */
    color: #ffffff;
}

.friend.active {
    background-color: #0984e3;
    color: #ffffff;
}

.friend-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #27ae60; /* Зеленый цвет для онлайн */
}

.status.online {
    background-color: #27ae60;
}

.status.away {
    background-color: #f39c12;
}

.status.offline {
    background-color: #e74c3c;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #34495e; /* Темный фон попапа */
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    transition: background-color 0.3s;
}

.popup-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #34495e;
    background-color: #2d3436; /* Темный фон для инпутов */
    color: #ecf0f1;
}

.popup-content button {
    padding: 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-content button:hover {
    background-color: #3498db;
}

#cancel-add {
    background-color: #c0392b;
}

#cancel-add:hover {
    background-color: #e74c3c;
}

form.logout-form {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logout-form button {
    padding: 8px 16px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-form button:hover {
    background-color: #c0392b;
}
